html{
    font-size: 62.5%;
    user-select: none;

}
*{
    margin: 0;
    padding: 0;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #90937b, #c6ca8e);
    user-select: none;
}

.calculadora{
    background-color: #242530;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-overflow:ellipsis;
    border-radius: 10px;
    box-shadow: .2px .5px 50px #000000; 
    user-select: none;
    
}
.calculadora .input-number{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10rem;
    margin-bottom: 20px;
    user-select: none;

}

.input-number input{
    max-width: 200px;
    margin-right: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    text-align: right;
    font-size: 1.8rem;
    cursor:auto;
    user-select: none;
    
}

.input-number input:focus{
    transition: 1s;
    transform: scale(1.1);
    transition: 1s;
}

.input-number input:hover{
    transition: 1s;
}

.botones{
    display: grid;
    grid-template-columns: repeat(4,60px);
    grid-template-rows: repeat(5,60px);
    gap: 10px;
}
.botones .igual{
    grid-column: 5 / 3;
    border-radius: 60px
}

.botones button{
    border-radius: 50%;
}

button{
    background-color: #EDEDED;
    border: none;
    font-size: 2rem;
}

.verde{
    background-color:  #2EE88B;
    box-shadow: 0px .2px 5px #2EE88B; 
    
}

.boton.blanco{
    box-shadow: 0px .2px 5px #fff; 
}

.boton:hover{
transition: .1s;
transform: translateY(-2px) scale(1.1);
cursor: pointer;

}
.boton.verde:hover{
    transition: .1s;
    transform: translateY(-2px) scale(1.1);
    box-shadow: 0px 1px 10px #2EE88B; 
    }

.igual:hover{
    
transition: .1s;
transform: translateY(-2px)scale(1.1);
cursor: pointer;
box-shadow: 0px 1px 10px #2EE88B; 

}


#boton-play{
    position: absolute;
    top: 20px;
    left: 200px;
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;
    text-overflow: clip;
    background-color: #000;
    opacity: .6;
    color: #fff;
    border-radius: 30%;
}
#boton-play:hover{
    transition: 1s;
    transform: scale(2)translateY(-2px)scaleY(2)scaleX(0.7);
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;
    text-overflow: clip;
    background-color: #00ff5e;
    opacity: .6;
    color: #ffffff;
    border-radius: 30%;
}

#boton-play:hover::after {
    content: " el pepe";
  }


#boton-detener{
    position: absolute;
    top: 20px;
    left: 400px;
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;
    text-overflow: clip;
    background-color: #000;
    opacity: .6;
    color: #fff;
    border-radius: 30%;

}
#boton-detener:hover{
    transition: 1s;
    transform: scale(2)translateY(-2px)scaleY(2)scaleX(0.7);
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;
    text-overflow: clip;
    background-color: #ff0000;
    opacity: .6;
    color: #ffffff;
    border-radius: 30%;
}

#boton-detener:hover::after {
    content: " etesech";
  }